.vex.vex-theme-os .vex-content {
  background-color: transparent !important;
  border-top: none !important;
  border: none !important;
  box-shadow: none !important;
}

.vex-content.mw7 {
  max-width: 48rem !important;
  width: 100% !important;
}

.display {
  font-family: 'Fjalla One', sans-serif;
}

html {
  font-family: sans-serif;
}

.issue {
  &:hover {
    cursor: pointer;
  }
}