.vex.vex-theme-os .vex-content {
  background-color: transparent !important;
  border-top: none !important;
  border: none !important;
  box-shadow: none !important;
}

.vex-content.mw7 {
  max-width: 48rem !important;
  width: 100% !important;
}

.display {
  font-family: 'Fjalla One', sans-serif;
}

html {
  font-family: sans-serif;
}

.issue {
  &:hover {
    cursor: pointer;
  }
}

.shepherd-active {
    // Custom backdrop element
  .shepherd-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
}

